@import "@/common/styles/common/_index.scss";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-panel {
  width: calc(var(--media-controls-panel-width, 30px));
}
